<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E2 Manager</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
   <h1>E2 Manager: Management</h1>
   <p>
    <a href="/">Home</a><br>
   </p>

   <input type="button" id="load_countries" value="Load Countries"><div id="load_country_status"></div>

   <p></p>
   <input type="button" id="load_properties" value="Load Properties">&nbsp;<label for="profile_id">Profile ID:</label><input type="text" id="profile_id" name="Profile ID"><div id="load_property_status"></div>

</body>


<script>
    $(document).ready( function() {
        $('#load_countries').click(function() {

           $('#load_country_status').html("<b>PLEASE WAIT, LOADING</b>");

           $.ajax("{{ url_for('countries_load_all') }}").done(function (reply) {
              $('#load_country_status').html(reply);
           });
        });


        $('#load_properties').click(function() {
            $('#load_property_status').html("<b>PLEASE WAIT, LOADING</b>");

            $.ajax("{{ url_for('properties_load',profile_id='UGLYSOLUTIONFORVAR') }}".replace("UGLYSOLUTIONFORVAR", $("#profile_id").val() )  ).done(function (reply) {
                $('#load_property_status').html(reply);
            });
        });
    });
</script>


</html>